@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mentor Page */
.header-tag {
  @apply mr-8 font-extrabold;
}
.content-line {
  height: 2px;
  width: 24px;
  @apply bg-primary;
}
.intro-mentor-pic {
  @apply flex justify-start mt-10;
}
.intro-tag {
  @apply px-3 py-1 text-caption text-primary bg-primary-tint rounded-md font-bold mr-2 my-1;
}
.global-width {
  max-width: 1535px;
}
.number-area {
  margin-top: 40px;
}
.text-hollow {
  -webkit-text-stroke: 4px rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
}
.text-setting {
  -webkit-text-stroke: 4px rgb(0, 0, 0);
  font-family: "Helvetica Neue", sans-serif;
}
.about-btn {
  margin: 150px;
}
.tag-border {
  border: 1px solid black;
}
details .down-arrow {
  display: none;
}

details[open] .right-arrow {
  display: none;
}
details[open] .down-arrow {
  display: inline;
}
