@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------
 * PAGE STYLES
 */

/* homepage */

/* co-create */
#section-co-create-hero {
  @apply bg-createBanner xl:bg-center bg-cocreate bg-no-repeat xl:bg-createBannerLarge;
}

/* co-study */
#section-co-study-hero {
  @apply h-screen bg-center bg-about bg-no-repeat xl:bg-createBannerLarge;
}

#section-co-study-description {
  @apply xl:bg-largelogo xl:bg-no-repeat;
}

#section-co-study-history {
  @apply bg-primary;
}

#section-co-study-feature {
  @apply my-[120px] bg-[#f5f3f4];
}

#section-co-study-registration {
  @apply my-[120px];
}

#section-co-study-recruitment {
  @apply my-[120px] hidden bg-recruit bg-repeat bg-createBannerLarge xl:block;
}

#section-co-study-member {
  @apply my-[120px] bg-red-200;
}

#section-co-study-faq {
  @apply my-[120px];
}

/* RECRUITMENT SECTION: step-block */
.step-block {
  @apply bg-black-200 border-2 border-transparent px-[32px] py-[24px] my-[32px] xl:my-[8px] hover:border-primary transition duration-300 ease-out;
}

.step-block-number {
  @apply font-bold text-white bg-primary py-[4px] px-[16px];
}

.step-block-title {
  @apply text-h6 font-bold text-black-900 ml-[6px];
}

.step-block-text {
  @apply text-black-800 font-normal text-justify leading-loose;
}

/* community */

/* entrepreneur */

/* mentor */

/* ----------------------
 * GENERAL STYLES
 */

/* navigation item */
.nav-item-blue {
  @apply text-subtitle text-primary-dark font-bold transition duration-300 ease-out hover:text-primary-normal;
}

.nav-item-white {
  @apply text-subtitle text-white font-bold transition duration-300 ease-out hover:text-black-500;
}

/* primary button */
.primary-button-white {
  @apply font-bold text-primary px-[32px] py-[12px] bg-white transition duration-300 ease-out hover:bg-black-400;
}

.primary-button-blue {
  @apply font-bold text-white px-[32px] py-[12px] bg-primary transition duration-300 ease-out hover:bg-primary-light;
}

/* text button */
.text-button-black {
  @apply font-bold text-black-800 hover:text-black-600;
}

.text-button-blue {
  @apply font-bold text-primary-dark hover:text-primary-light;
}

.text-button-white {
  @apply font-bold text-white hover:text-black-500;
}

/* TEMP */
.content-line {
  height: 2px;
  width: 24px;
  @apply bg-primary;
}
.content-line-2 {
  height: 4px;
  width: 80px;
  @apply bg-primary;
}
.intro-mentor-pic {
  @apply flex justify-start mt-10;
}
.intro-tag {
  @apply px-3 py-1 text-caption text-primary bg-primary-tint rounded-md font-bold mr-2 my-1;
}
.global-width {
  max-width: 1535px;
}

.text-hollow {
  -webkit-text-stroke: 4px rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
}
.text-setting {
  -webkit-text-stroke: 4px rgb(0, 0, 0);
  font-family: 'Helvetica Neue', sans-serif;
}
.about-btn {
  margin: 150px;
}
.tag-border {
  border: 1px solid black;
}

label .menu {
  position: absolute;
  right: 0px;
  top: -100px;
  z-index: 100;
  width: 100px;
  height: 170px;
  background: #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #0088cc;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #0088cc;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

label .menu-create {
  position: absolute;
  right: 0px;
  top: -100px;
  z-index: 100;
  width: 100px;
  height: 170px;
  background: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

label .hamburger-create {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: white;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger-create:after,
label .hamburger-create:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
}

label .hamburger-create:before {
  top: -10px;
}

label .hamburger-create:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu-create {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}

label input:checked + .menu-create .hamburger-create {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu-create .hamburger-create:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu-create .hamburger-create:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu-create + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.btn-border {
  border-bottom: solid 3px white;
}

.items {
  width: 100%;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: none;
  overflow: auto;
}

.item {
  width: 40%;
  display: inline-block;
  flex: none;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
  margin-right: 10px;
}
