@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mentor Page */
.header-tag {
  @apply mr-8 font-extrabold;
}
.content-line {
  height: 2px;
  width: 24px;
  @apply bg-primary;
}
.intro-mentor-pic {
  @apply flex justify-start mt-10;
}
.intro-tag {
  @apply px-3 py-1 text-caption text-primary bg-primary-tint rounded-md font-bold mr-2;
}
.global-width {
  max-width: 1535px;
}
.footer-width {
  max-width: 1880px;
}
.read-more {
  padding-left: 8rem;
  padding-right: 8rem;
}
.number-area {
  margin-top: 40px;
}
.text-hollow {
  -webkit-text-stroke: 4px rgb(0, 0, 0);
  font-family: "Oswald", sans-serif;
}
.text-setting {
  -webkit-text-stroke: 4px rgb(0, 0, 0);
  font-family: "Helvetica Neue", sans-serif;
}
.about-btn {
  margin: 150px;
}
